/* AppComponent's private CSS styles */

h2 {
    margin-bottom: 1rem;
    text-align: center;
}

nav {
    display: inline-block;
    text-align: center;
    width: 100%;
}

nav a {
    padding: 1rem;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    background-color: #e4dda5;
    color: #000000;
    border-radius: 4px;
    text-align: center;
    margin-left: 35%;
    width: 30%;
}

nav a:hover {
    color: white;
    background-color: #42545C;
}

nav a.active {
    background-color: black;
}